[submodule "contract/test/lib/ds-test"]
	path = contract/test/lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "contract/lib/ds-test"]
	path = contract/lib/ds-test
	url = https://github.com/dapphub/ds-test
